@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sat: env(safe-area-inset-top, 0px);
  --sar: env(safe-area-inset-right, 0px);
  --sab: env(safe-area-inset-bottom, 0px);
  --sal: env(safe-area-inset-left, 0px);
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

/* Prevent pull-to-refresh */
body {
  overscroll-behavior-y: none;
}
